/* styles.css */
div{
  color: rgb(15, 5, 107);
}
table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 80%;
  font-family: Arial, sans-serif;
}

th, td {
  border: 1px solid #311a66;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #758399;
  font-weight: bold;
}

tbody tr:hover {

  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
}

button.active {
  background-color: #6e5d4e;
  color: rgb(180, 62, 62);
}

.flex {  

  background-color: #aaadb3;
  display: flex;
  justify-content: center;
  gap: 12px;
}
