.icon-button{
  direction: ltr;
  position: fixed;
}
.table-container {
  max-width: 90%;
  margin: 5%;
  overflow-y: auto;
  display: block;
  margin-top: 2rem;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  height: auto;
  border-bottom: solid 0.5px #173164;
}
.table-body {
  height: auto;
}
.table {
  border: solid 0.5px #173164;
  min-width: 650px;
  width: 100%;
}
.table-head {
  background-color: #1E3687;
  font-size: 30px;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}
.table-head th {
  padding: 0.5rem;
  color: #fff;
  font-weight: bold;
}
.table-body .actions {
  display: flex;
  gap: 0.5rem;
}
.table-pagination {
  color: #FCFBFB;
  border-top: 1px solid #C4BDBD;
  padding: 0.5rem;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}






